<!doctype html>
<html lang="en" ng-app="App">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="cache-control" content="max-age=0">
   <meta http-equiv="cache-control" content="no-cache">
   <meta http-equiv="expires" content="-1">
   <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
   <meta http-equiv="pragma" content="no-cache">

   <title>TileBoard</title>

   <!-- WebApp configuration -->
   <link rel="manifest" href="manifest.webmanifest" crossorigin="use-credentials">
   <!-- legacy tags -->
   <meta name="mobile-web-app-capable" content="yes">
   <!-- iOS Settings -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   <link rel="apple-touch-icon" href="favicon.png">

   <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="favicon.png">

   <style>
      [ng-cloak] { display: none; }
   </style>

   <script type="text/javascript">
      var suffix = location.protocol === "file:" ? "" : "?r=" + Math.random();

      [
         'styles/main.css',
         'styles/themes.css',
         'styles/weather-icons.css',
         'styles/color-picker.min.css',
         'styles/custom.css',
      ].map(function (value) {
         document.write('<li'+'nk rel="stylesheet" href="'+value+suffix+'"/>');
      });

      [
         'scripts/vendors/angular.min.js',
         'scripts/vendors/hammer.js',
         'scripts/vendors/angular.hammer.js',
         'scripts/vendors/color-picker.js',
         'scripts/vendors/angularjs-gauge.js',
         'scripts/vendors/moment.min.js', // Required by Chart.js for time axes
         'scripts/vendors/Chart.min.js',  // Required for history charts
         'scripts/vendors/angular-chart.min.js',  // Required for linking charts to angular.js
         'scripts/vendors/hls.js',

         'scripts/models/noty.js',
         'scripts/app.js',

         'config.js', // <----- NOT config.example.js !!

         'scripts/init.js',
         'scripts/models/api.js',
         'scripts/directives.js',
         'scripts/controllers/main.js',
         'scripts/controllers/noty.js',
         'scripts/controllers/screensaver.js'
      ].map(function (value) {
         document.write('<sc'+'ript src="'+value+suffix+'"></scr'+'ipt>');
      });
   </script>
</head>

<body ng-controller="Main" ng-class="getBodyClass()">

<div ng-if="ready" class="page-container"
     hm-pan="onPagePan($event)"
     hm-recognizer-options="{
        enable: isPanEnabled,
        directions: isMenuOnTheLeft ? 'DIRECTION_VERTICAL' : 'DIRECTION_HORIZONTAL'
     }"
>
   <div class="camera-popup"
        ng-if="activeCamera && (entity = getCameraEntityFullscreen(activeCamera))">

      <div class="camera-popup-container">
         <div class="camera-popup-title">
            <div class="camera-popup-close" ng-click="closeCamera()">
               <i class="mdi mdi-close"></i>
            </div>
            {{ entityTitle(activeCamera, entity) }}
         </div>

         <div class="camera-popup--list">
            <div class="camera-popup--list-item"
                 ng-click="openCamera(item)"
                 ng-class="{'-active': activeCamera === item}"
                 ng-repeat="item in getCameraList() track by $index">
               <span ng-show="entity = getCameraEntityFullscreen(item)">
                  <span ng-bind="entityTitle(item, entity)"></span>
               </span>
            </div>
         </div>

         <div class="camera-popup--camera">
            <div ng-if="activeCamera.fullscreen.type === TYPES.CAMERA">
               <camera item="activeCamera.fullscreen" entity="entity"
                       freezed="false"></camera>
            </div>

            <div ng-if="activeCamera.fullscreen.type === TYPES.CAMERA_THUMBNAIL">
               <camera-thumbnail item="activeCamera.fullscreen" entity="entity"
                                 freezed="false"></camera-thumbnail>
            </div>
         
            <div ng-if="activeCamera.fullscreen.type === TYPES.CAMERA_STREAM">
               <camera-stream item="activeCamera.fullscreen" entity="entity"
                              freezed="false"></camera-stream>
            </div>
         </div>
      </div>
   </div>

   <div class="iframe-popup"
        ng-class="itemField('iframeClasses', activeIframe, entity)"
        ng-if="activeIframe && (entity = getItemEntity(activeIframe))">
      <div class="iframe-popup-container" ng-style="getPopupIframeStyles()">
         <div class="iframe-popup-title">
            <div class="iframe-popup-close" ng-click="closePopupIframe()">
               <i class="mdi mdi-close"></i>
            </div>
            {{ entityTitle(activeIframe, entity) }}
         </div>
         <div class="iframe-popup--iframe">
            <iframe ng-src="{{ itemField('url', activeIframe, entity) }}"
                    iframe-tile="activeIframe" frameborder="0"></iframe>
         </div>
      </div>
   </div>

   <div class="history-popup"
        ng-class="itemField('history.classes', activeHistory, entity)"
        ng-if="activeHistory && (entity = getItemEntity(activeHistory.item))">
      <div class="history-popup-container" ng-style="getPopupHistoryStyles()">
         <div class="history-popup-title">
            <div class="history-popup-close" ng-click="closePopupHistory()">
               <i class="mdi mdi-close"></i>
            </div>
            {{ entityTitle(activeHistory.item, entity) }}
         </div>

         <div class="history-popup-container history-popup-container--canvas">
            <div class="history-popup--canvas">
               <div class="history-popup--placeholder">
                  <span ng-if="activeHistory.isLoading && !activeHistory.errorText">Loading history data...</span>
                  <span ng-if="activeHistory.errorText">{{ activeHistory.errorText }}</span>
               </div>
               <canvas id="history-popup--canvas"
                  class="chart chart-line"
                  chart-data="activeHistory.data"
                  chart-dataset-override="activeHistory.datasetOverride"
                  chart-options="activeHistory.options"></canvas>
            </div>
         </div>
      </div>
   </div>

   <div class="door-entry-popup"
        ng-if="activeDoorEntry && (page = activeDoorEntry.layout.page)
            && (cameraEntity = getEntryCameraEntity(activeDoorEntry))">

      <div class="door-entry-popup-container">
         <div class="door-entry-popup-title">
            <div class="door-entry-popup-close" ng-click="closeDoorEntry()">
               <i class="mdi mdi-close"></i>
            </div>
            {{ entityTitle(activeDoorEntry, entity) }}
         </div>

         <div class="door-entry-popup-container">
            <div class="door-entry-popup--camera">
               <div ng-if="activeDoorEntry.layout.camera.type === TYPES.CAMERA">
                  <camera item="activeDoorEntry.layout.camera" entity="cameraEntity"
                          freezed="false"></camera>
               </div>

               <div ng-if="activeDoorEntry.layout.camera.type === TYPES.CAMERA_THUMBNAIL">
                  <camera-thumbnail item="activeDoorEntry.layout.camera" entity="cameraEntity"
                                    freezed="false"></camera-thumbnail>
               </div>

               <div ng-if="activeDoorEntry.layout.camera.type === TYPES.CAMERA_STREAM">
                  <camera-stream item="activeDoorEntry.layout.camera" entity="cameraEntity"
                                    freezed="false"></camera-stream>
               </div>
            </div>

            <div class="door-entry-popup--tiles">
               <div tile ng-repeat="item in activeDoorEntry.layout.tiles track by $index"></div>
            </div>
         </div>
      </div>
   </div>

   <div class="alarm-popup"
        ng-if="activeAlarm && (alarmEntity = getItemEntity(activeAlarm))">

      <div class="alarm-popup-overlay" ng-click="closeAlarm()"></div>

      <div class="alarm-popup-container"
           ng-class="{'-no-code': !alarmEntity.attributes.code_format}">

         <div class="alarm-popup-close" ng-click="closeAlarm()">
            <i class="mdi mdi-close"></i>
         </div>

         <div class="alarm-popup-state">
            <span ng-bind="entityState(activeAlarm, alarmEntity)"></span>
         </div>

         <div class="alarm-popup-input-container"
              ng-if="alarmEntity.attributes.code_format">
            <div class="alarm-popup-input">
               <div class="alarm-popup-input-code" ng-if="alarmCode">
                  <span ng-repeat="dot in alarmCode track by $index">•</span>
               </div>
               <div class="alarm-popup-input-placeholder"
                    ng-if="!alarmCode">Enter code</div>
            </div>
         </div>

         <div class="alarm-popup-buttons">
            <div ng-if="alarmEntity.attributes.code_format">
               <div class="alarm-popup-buttons-line"
                    ng-repeat="line in [6, 3, 0] track by $index">
                  <div class="alarm-popup-button" ng-bind="button + line"
                       ng-click="inputAlarm(button + line)"
                       ng-repeat="button in [1, 2, 3] track by $index"></div>
               </div>

               <div class="alarm-popup-buttons-line">
                  <div class="alarm-popup-button -l2" ng-click="inputAlarm(0)">0</div>
                  <div class="alarm-popup-button -warning" ng-click="clearAlarm()">
                     <div class="mdi mdi-close"></div>
                  </div>
               </div>
            </div>

            <div class="alarm-popup-buttons-line">
               <div class="alarm-popup-button -icon -home"
                    ng-if="!isDisarmed(alarmEntity)" 
                    ng-click="actionAlarm('alarm_arm_home', activeAlarm, alarmEntity)">
                  <div class="mdi mdi-bell-plus"></div> Arm home
               </div>
               <div class="alarm-popup-button -icon -away"
                    ng-if="!isDisarmed(alarmEntity)" 
                    ng-click="actionAlarm('alarm_arm_away', activeAlarm, alarmEntity)">
                  <div class="mdi mdi-bell"></div> Arm away
               </div>
               <div class="alarm-popup-button -icon -night"
                    ng-if="!isDisarmed(alarmEntity)" 
                    ng-click="actionAlarm('alarm_arm_night', activeAlarm, alarmEntity)">
                  <div class="mdi mdi-sleep"></div> Arm night
               </div>
               <div class="alarm-popup-button -icon -disarm"
                    ng-if="isDisarmed(alarmEntity)"
                    ng-click="actionAlarm('alarm_disarm', activeAlarm, alarmEntity)">
                  <div class="mdi mdi-bell-off"></div> Disarm
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="datetime-popup"
        ng-if="activeDatetime && (dtEntity = getItemEntity(activeDatetime))">

      <div class="datetime-popup-overlay" ng-click="closeDatetime()"></div>

      <div class="datetime-popup-container">
         <div class="datetime-popup-close" ng-click="closeDatetime()">
            <i class="mdi mdi-close"></i>
         </div>

         <div class="datetime-popup-state">
            <span ng-bind="entityState(activeDatetime, dtEntity)"></span>
         </div>

         <div class="datetime-popup-input-container">
            <div class="datetime-popup-input">
               <span class="datetime-popup-input--filled"
                     ng-bind="getActiveDatetimeInput()"></span><!--
            --><span class="datetime-popup-input--placeholder"
                     ng-bind="getActiveDatetimePlaceholder()"></span>
            </div>
         </div>

         <div class="datetime-popup-buttons">
            <div class="datetime-popup-buttons-line"
                 ng-repeat="line in [6, 3, 0] track by $index">
               <div class="datetime-popup-button" ng-bind="button + line"
                    ng-click="inputDatetime(button + line)"
                    ng-repeat="button in [1, 2, 3] track by $index"></div>
            </div>

            <div class="datetime-popup-buttons-line">
               <div class="datetime-popup-button -warning" ng-click="clearCharDatetime()">
                  <div class="mdi mdi-arrow-left"></div>
               </div>
               <div class="datetime-popup-button" ng-click="inputDatetime(0)">0</div>

               <div class="datetime-popup-button -success"
                    ng-class="{'-disabled': !activeDatetimeValid()}"
                    ng-click="sendDatetime()">
                  <div class="mdi mdi-check"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="pages-menu" ng-if="showPagesMenu()"
        ng-class="pagesMenuClasses()">

      <div class="pages-menu--scroll-indicator"></div>

      <div class="pages-menu--aligner"></div>

      <div class="pages-menu--items">
         <div ng-repeat="page in pages track by $index"
              class="pages-menu--item" ng-click="openPage(page)"
              ng-if="!isHidden(page)" ng-class="{'-active': isPageActive(page)}">

            <i class="mdi" ng-class="page.icon"></i>
         </div>
      </div>
   </div>

   <div class="header" ng-if="header = getHeader()"
        ng-include="'header.html'"></div>

   <div class="pages" id="pages" ng-style="pagesContainerStyles">
      <div class="page-overlay" ng-if="activeSelect"
           ng-click="closeActiveSelect()"></div>

      <div ng-repeat="page in pages track by $index"
           ng-class="{'-active': isPageActive(page)}"
           ng-if="shouldDrawPage(page) && !isHidden(page)"
           ng-style="pageStyles(page, $index)" class="page"
           ng-on-scroll="onPageScroll($event)"
           on-scroll on-scroll-model="page">

         <!-- legacy -->
         <div class="page-head" ng-if="page.head && headWarning()"
              ng-include="page.head"></div>

         <div class="header" ng-if="header = getHeader(page)"
              ng-include="'header.html'"></div>

         <div class="page-align"></div>

         <div ng-repeat="group in page.groups track by $index"
              ng-if="!isHidden(group)" class="group"
              ng-style="groupStyles(group, page)">
            <div ng-bind="group.title" class="group-title"></div>
            <div tile ng-repeat="item in group.items track by $index"></div>
         </div>
      </div>
   </div>
</div>

<div class="screensaver" ng-click="hideScreensaver()"
     ng-show="isShown" ng-controller="Screensaver"  ng-style="conf.styles">

   <div class="screensaver-slides" ng-if="isShown">
      <div class="screensaver-slide" ng-style="getSlideStyle(slide)"
           ng-class="getSlideClasses($index, slide)"
           ng-repeat="slide in slides track by $index">
         <div class="screensaver-content--right-bottom" ng-if="slide.rightBottom">
            <div header-item ng-repeat="item in slide.rightBottom track by $index"></div>
         </div>
         <div class="screensaver-content--right-top" ng-if="slide.rightTop">
            <div header-item ng-repeat="item in slide.rightTop track by $index"></div>
         </div>
         <div class="screensaver-content--left-bottom" ng-if="slide.leftBottom">
            <div header-item ng-repeat="item in slide.leftBottom track by $index"></div>
         </div>
         <div class="screensaver-content--left-top" ng-if="slide.leftTop">
            <div header-item ng-repeat="item in slide.leftTop track by $index"></div>
         </div>
      </div>
   </div>

   <div class="screensaver-content" ng-if="isShown">
      <div class="screensaver-content--right-bottom" ng-if="conf.rightBottom">
         <div header-item ng-repeat="item in conf.rightBottom track by $index"></div>
      </div>
      <div class="screensaver-content--right-top" ng-if="conf.rightTop">
         <div header-item ng-repeat="item in conf.rightTop track by $index"></div>
      </div>
      <div class="screensaver-content--left-bottom" ng-if="conf.leftBottom">
         <div header-item ng-repeat="item in conf.leftBottom track by $index"></div>
      </div>
      <div class="screensaver-content--left-top" ng-if="conf.leftTop">
         <div header-item ng-repeat="item in conf.leftTop track by $index"></div>
      </div>
   </div>
</div>


<div class="noties-container" ng-class="getNotiesClasses()"
     ng-controller="Noty" ng-cloak="">
   <div class="noty" ng-class="noty.getClasses()"
        ng-repeat="noty in getNoties() track by noty.id">
      <div class="noty-header">
         <div class="noty-title" ng-if="noty.title" ng-bind="noty.title"></div>
         <div class="noty-close" ng-click="noty.remove()">
            <i class="mdi mdi-close"></i>
         </div>
      </div>
      <div class="noty-content">
         <div class="noty-icon" ng-if="noty.icon">
            <i class="mdi" ng-class="noty.icon"></i>
         </div>

         <div class="noty-message" ng-bind-html="noty.message"></div>
      </div>
      <div class="noty-lifetime" ng-if="noty.lifetime">
         <div class="noty-lifetime-line" ng-style="noty.getLifetimeStyles()"></div>
      </div>
   </div>

   <div class="noties-button" ng-if="getNoties().length > 1" ng-click="clearAll()">
      Clear all
   </div>
</div>


<!-- HEAD TEMPLATE -->

<script type="text/ng-template" id="head.html">
   <div class="page-head-content">
      <div class="page-head--left">
         <div class="page-head--time" ng-style="clockStyles()">
            <clock></clock>
         </div>
      </div>
      <div class="page-head--right">
      </div>
   </div>
</script>

<script type="text/ng-template" id="header.html">
   <div class="header-content" ng-style="header.styles">
      <div class="header--left">
         <div header-item ng-repeat="item in header.left track by $index"></div>
      </div>
      <div class="header--right">
         <div header-item ng-repeat="item in header.right track by $index"></div>
      </div>
   </div>
</script>


<!-- HEADER ITEMS TEMPLATE -->

<script type="text/ng-template" id="header-items.html">
   <div class="header-item" ng-class="'-' + item.type"
        ng-style="item.styles" ng-if="!isHidden(item,{})">
      <div ng-if="item.type === HEADER_ITEMS.TIME">
         <clock></clock>
      </div>
      <div ng-if="item.type === HEADER_ITEMS.DATE">
         <date format="item.format"></date>
      </div>
      <div ng-if="item.type === HEADER_ITEMS.DATETIME">
         <clock></clock>
         <date format="item.dateFormat"></date>
      </div>
      <div ng-if="item.type === HEADER_ITEMS.CUSTOM_HTML">
         <div ng-bind-html="item.html"></div>
      </div>
      <div ng-if="item.type === HEADER_ITEMS.WEATHER">
         <div class="header-weather--icon-container">
            <div class="header-weather--icon"
                 ng-if="(_icon = getWeatherIcon(item, {}))">
               <div class="wu " ng-class="'wu-' + _icon"></div>
            </div>
            <div class="header-weather--icon-image"
                 ng-if="(_imgStyles = getWeatherImageStyles(item, {}))">
               <div ng-style="_imgStyles"></div>
            </div>
         </div>

         <div class="header-weather--temperature" ng-if="item.fields.temperature">
            <span ng-bind="getWeatherField('temperature', item, {})"></span>
            <span ng-bind="getWeatherField('temperatureUnit', item, {})"></span>
         </div>

         <div class="header-weather--summary" ng-if="item.fields.summary">
            <span ng-bind="getWeatherField('summary', item, {})"></span>
         </div>
      </div>
   </div>
</script>



<!-- TILE TEMPLATE -->

<script type="text/ng-template" id="tile.html">
   <div ng-style="itemStyles(page, item, entity)" class="item"
        ng-click="entityClick(page, item, entity)"
        hm-press="entityLongPress($event, page, item, entity)"
        hm-recognizer-options="{time: 600}"
        ng-if="(entity = getItemEntity(item)) && !isHidden(item, entity)"
        ng-class="itemClasses(item)">

      <div class="item-clickable"></div>

      <div ng-if="item.bg || item.bgSuffix" class="item-background"
           ng-style="itemBgStyles(item, entity)"></div>

      <div class="item-title" ng-bind="_title"
           ng-if="(_title = entityTitle(item, entity))"></div>

      <div class="item-subtitle" ng-bind="_subtitle"
           ng-if="(_subtitle = entitySubtitle(item, entity))"></div>

      <div class="item-state" ng-bind="_state"
           ng-if="(_state = entityState(item, entity))"></div>

      <div class="item-slides-container" ng-if="item.slides.length">
         <div class="item-slides" ng-class="'-c' + item.slides.length"
              ng-if="item.slides.length" ng-style="slidesStyles(item, $index)">
            <div class="item-slide" ng-repeat="slide in item.slides track by $index"
                 ng-style="slideStyles(slide, item, entity)"></div>
         </div>
      </div>

      <div ng-if="item.type === TYPES.DEVICE_TRACKER"
           class="item-entity-container -below">

         <div class="item-slides-container" ng-if="hasTrackerCoords(entity)">
            <div class="item-slides" ng-class="trackerSlidesClass(item, entity)"
                 ng-style="slidesStyles(item, $index)">
               <div class="item-slide -bg" ng-style="trackerBg(entity)"
                    ng-if="showTrackerBg(item, entity)"></div>

               <div class="item-slide -map"
                    ng-repeat="zoom in trackerZoomLevels(item, entity) track by $index"
                    ng-style="slideMapStyles(item, page, entity.attributes, zoom, entity.state)"></div>
            </div>
         </div>

         <div ng-if="!hasTrackerCoords(entity) && entity.attributes.entity_picture"
              class="item-background" ng-style="trackerBg(entity)"></div>
      </div>

      <div ng-if="item.type === TYPES.SENSOR"
           class="item-entity-container">
         <div class="item-entity">
            <span ng-bind="entityValue(item, entity)"
                  class="item-entity--value"></span>

            <span ng-if="(_unit = entityUnit(item, entity))"
                  class="item-entity--unit" ng-bind="_unit"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.SWITCH"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.LOCK"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.COVER"
           class="item-entity-container">

         <div class="item-cover">
            <div class="item-cover--button -open"
                 ng-class="{'-disabled': entity.state === 'open' && (!entity.attributes.current_position || entity.attributes.current_position === 100)}"
                 ng-click="sendCover('open_cover', item, entity)">
               <i class="mdi mdi-arrow-up"></i>
            </div>

            <div class="item-cover--button -stop"
                 ng-click="sendCover('stop_cover', item, entity)">
               <i class="mdi mdi-stop"></i>
            </div>

            <div class="item-cover--button -close"
                 ng-class="{'-disabled': entity.state === 'closed'}"
                 ng-click="sendCover('close_cover', item, entity)">
               <i class="mdi mdi-arrow-down"></i>
            </div>
         </div>
      </div>

      <div ng-if="item.type === TYPES.COVER_TOGGLE"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.FAN"
           class="item-entity-container">

         <div class="item-entity" ng-if="(_icon = entityIcon(item, entity))"
              ng-class="{'-with-select': entity.attributes.speed_list}">
            <span class="item-entity--icon mdi" ng-class="_icon"></span>
         </div>

         <div class="item-fan">
            <div class="item-fan--speed" ng-if="entity.attributes.speed_list"
                 ng-click="openFanSpeedSelect($event, item)">
               <span ng-bind="entity.attributes.speed"></span>
            </div>
         </div>

         <div ng-if="selectOpened(item)" class="item-select"
              ng-style="itemSelectStyles(entity, entity.attributes.speed_list)">

            <div class="item-select--option"
                 ng-repeat="option in entity.attributes.speed_list track by $index"
                 ng-class="{'-active': option === entity.attributes.speed}"
                 ng-click="setFanSpeed($event, item, entity, option)">
               <span ng-bind="option"></span>
            </div>
         </div>
      </div>

      <div ng-if="item.type === TYPES.CUSTOM"
           class="item-entity-container">

         <div ng-if="item.customHtml"
              ng-bind-html="itemCustomHtml(item, entity)"></div>

         <div ng-if="!item.customHtml" class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.POPUP_IFRAME"
           class="item-entity-container">

         <div ng-if="item.customHtml"
              ng-bind-html="itemCustomHtml(item, entity)"></div>

         <div ng-if="!item.customHtml" class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.SCRIPT"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.AUTOMATION"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.VACUUM"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.SENSOR_ICON"
           class="item-entity-container">
         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.INPUT_BOOLEAN"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.LIGHT"
           class="item-entity-container">

         <div ng-if="!item.controlsEnabled">
            <div ng-if="entity.state !== 'off'">
               <div ng-if="supportsFeature(FEATURES.LIGHT.BRIGHTNESS, entity)"
                    class="item-button -center-right"
                    ng-click="increaseBrightness($event, item, entity)">
                  <i class="mdi mdi-plus"></i>
               </div>
               <div ng-if="supportsFeature(FEATURES.LIGHT.BRIGHTNESS, entity)"
                    class="item-button -bottom-right"
                    ng-click="decreaseBrightness($event, item, entity)">
                  <i class="mdi mdi-minus"></i>
               </div>
            </div>
            <div class="item-entity">
               <span class="item-entity--icon mdi"
                     ng-class="entityIcon(item, entity)"></span>
            </div>
         </div>
         <div ng-if="item.controlsEnabled" class="item-entity-sliders"
              ng-click="preventClick($event)">
            <div ng-repeat="slider in item.sliders track by $index"
                 ng-if="(_c = getLightSliderConf(slider, entity))"
                 class="item-slider-container">

               <div class="item-slider-title" ng-if="slider.title">
                  <span ng-bind="slider.title"></span>:
                  <span ng-bind="getLightSliderValue(slider, _c)"></span>
               </div>

               <div class="item-slider">
                  <input type="range" ng-model="_c.value" value="{{ _c.value }}"
                         ng-on-touchstart="$event.stopPropagation()"
                         ng-on-touchmove="$event.stopPropagation()"
                         ng-on-pointerdown="$event.stopPropagation()"
                         ng-change="lightSliderChanged(slider, item, entity, _c)"
                         step="{{ _c.step }}" min="{{ _c.min }}" max="{{ _c.max }}">
               </div>
            </div>
          
            <div ng-if="item.colorpicker" class="item-entity-colorpicker">
               <span>Color:</span> 
               <input color-picker 
                  color-picker-model="getRGBStringFromArray(entity.attributes.rgb_color)"
                  color-picker-show-value="false"
                  color-picker-output-format="'rgba'"
                  color-picker-position="bottom"
                  color-picker-fixed-position="false"
                  color-picker-show-input-spinner="false"
                  color-picker-show-cancel-button="true"
                  color-picker-item="item"
                  ng-style="{background: getRGBStringFromArray(entity.attributes.rgb_color)}">
            </div>

            <div class="item-entity--back-button"
                 ng-click="closeLightSliders($event, item, entity)">
               <i class="mdi mdi-chevron-left"></i> Back
            </div>
         </div>
      </div>
      <div ng-if="item.type === TYPES.DIMMER_SWITCH"
           class="item-entity-container">

         <div ng-if="entityState(item, entity) && entity.state !== 'off'">
            <div class="item-button -center-right"
                 ng-click="dimmerAction('plus', $event, item, entity)">
               <i class="mdi mdi-plus"></i>
            </div>
            <div class="item-button -bottom-right"
                 ng-click="dimmerAction('minus', $event, item, entity)">
               <i class="mdi mdi-minus"></i>
            </div>
         </div>

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.TEXT_LIST"
           class="item-entity-container">
         <div class="item-list">
            <div class="item-list--item"
                 ng-repeat="line in item.list track by $index">
               <div class="item-list--name">
                  <i class="mdi" ng-class="listField('icon', item, line)" ng-if="line.icon"></i>
                  <span ng-bind="listField('title', item, line)"></span>
               </div>
               <div class="item-list--value">
                  <span ng-bind="listField('value', item, line)"></span><!--
               --><span ng-bind="listField('unit', item, line)"></span>
               </div>
            </div>
         </div>
      </div>

      <div ng-if="item.type === TYPES.INPUT_NUMBER"
           class="item-entity-container">
         <div>
            <div class="item-button -center-right"
                 ng-click="increaseNumber($event, item, entity)">
               <i class="mdi mdi-plus"></i>
            </div>
            <div class="item-button -bottom-right"
                 ng-click="decreaseNumber($event, item, entity)">
               <i class="mdi mdi-minus"></i>
            </div>
         </div>

         <div class="item-entity">
            <span ng-bind="entityValue(item, entity)"
                  class="item-entity--value"></span>
            <span ng-if="(_unit = entityUnit(item, entity))"
                  class="item-entity--unit" ng-bind="_unit"></span>
         </div>
      </div>


      <div ng-if="item.type === TYPES.INPUT_SELECT"
           class="item-entity-container">
         <div ng-if="selectOpened(item)" class="item-select"
              ng-style="itemSelectStyles(entity, entity.attributes.options)">
            <div class="item-select--option"
                 ng-repeat="option in entity.attributes.options track by $index"
                 ng-class="{'-active': option === entity.state}"
                 ng-click="setSelectOption($event, item, entity, option)">
               <span ng-bind="option"></span>
            </div>
         </div>
         <div class="item-triangle"></div>
         <div ng-if="item.icons" class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
         <div ng-if="!item.icons" class="item-entity -select">
            <span class="item-entity--value">
               <span ng-bind="entityValue(item, entity)"></span>
            </span>
            <span ng-if="(_unit = entityUnit(item, entity))"
                  class="item-entity--unit" ng-bind="_unit"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.INPUT_DATETIME"
           class="item-entity-container">
         <div class="item-entity">
            <span ng-bind="entityValue(item, entity)"
                  class="item-entity--value -datetime"></span>
         </div>
      </div>


      <div ng-if="item.type === TYPES.CAMERA"
           class="item-entity-container -below">
         <div class="item-camera">
            <camera item="item" entity="entity"
                    freezed="!isPageActive(page) || activeCamera || screensaverShown"></camera>
         </div>
      </div>

      <div ng-if="item.type === TYPES.CAMERA_THUMBNAIL"
           class="item-entity-container -below">
         <div class="item-camera">
            <camera-thumbnail item="item" entity="entity"
                              freezed="!isPageActive(page) || activeCamera || screensaverShown"></camera-thumbnail>
         </div>
      </div>

      <div ng-if="item.type === TYPES.CAMERA_STREAM"
           class="item-entity-container -below">
         <div class="item-camera">
            <camera-stream item="item" entity="entity"
                           freezed="!isPageActive(page) || activeCamera || screensaverShown"></camera-stream>
         </div>
      </div>

      <div ng-if="item.type === TYPES.SCENE"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>

      <div ng-if="item.type === TYPES.SLIDER"
           class="item-entity-container" ng-class="{'-slider-bottom': item.bottom}">

         <div class="item-entity">
            <span ng-bind="entityValue(item, entity)"
                  class="item-entity--value"></span>
            <span ng-if="(_unit = entityUnit(item, entity))"
                  class="item-entity--unit" ng-bind="_unit"></span>
         </div>

         <div class="item-slider" ng-if="(_c = getSliderConf(item, entity))">
            <input type="range" ng-model="_c.value"
                   ng-change="sliderChanged(item, entity, _c)"
                   ng-on-touchstart="$event.stopPropagation()"
                   ng-on-touchmove="$event.stopPropagation()"
                   ng-on-pointerdown="$event.stopPropagation()"
                   step="{{ _c.step }}" min="{{ _c.min }}" max="{{ _c.max }}">
         </div>
      </div>

      <div ng-if="item.type === TYPES.IFRAME"
           class="item-entity-container">

         <div class="item-iframe">
            <iframe ng-src="{{ itemField('url', item, entity) }}"
                    iframe-tile="item" frameborder="0"></iframe>
         </div>
      </div>


      <div ng-if="item.type === TYPES.DOOR_ENTRY"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>


      <div ng-if="item.type === TYPES.ALARM"
           class="item-entity-container">

         <div class="item-entity">
            <span class="item-entity--icon mdi"
                  ng-class="entityIcon(item, entity)"></span>
         </div>
      </div>


      <div ng-if="item.type === TYPES.WEATHER"
           class="item-entity-container">
         <div class="weather">
            <div class="weather-icon-container">
               <div class="weather-icon"
                    ng-if="(_icon = getWeatherIcon(item, entity))">
                  <div class="wu " ng-class="'wu-' + _icon"></div>
               </div>
               <div class="weather-icon-image"
                    ng-if="(_imgStyles = getWeatherImageStyles(item, entity))">
                  <div ng-style="_imgStyles"></div>
               </div>
            </div>

            <div class="weather-temperature" ng-if="item.fields.temperature">
               <span ng-bind="getWeatherField('temperature', item, entity)"></span>
               <span ng-bind="getWeatherField('temperatureUnit', item, entity)"></span>
            </div>
            <div class="weather-fields">
            <div class="weather-line -items">
               <span ng-if="item.fields.highTemperature" class="weather-item">
                  <i class="mdi mdi-arrow-collapse-up"></i>
                  <span ng-bind="getWeatherField('highTemperature', item, entity)"></span><!--
               --><span ng-bind="getWeatherField('highTemperatureUnit', item, entity)"></span>
               </span>
            </div>

            <div class="weather-line -items">
               <span ng-if="item.fields.lowTemperature" class="weather-item">
                  <i class="mdi mdi-arrow-collapse-down"></i>
                  <span ng-bind="getWeatherField('lowTemperature', item, entity)"></span><!--
               --><span ng-bind="getWeatherField('lowTemperatureUnit', item, entity)"></span>
               </span>
            </div>

            <div class="weather-line -items">
               <span ng-if="item.fields.humidity" class="weather-item">
                  <i class="mdi mdi-water"></i>
                  <span ng-bind="getWeatherField('humidity', item, entity)"></span><!--
               --><span ng-bind="getWeatherField('humidityUnit', item, entity)"></span>
               </span>

               <span ng-if="item.fields.windSpeed" class="weather-item">
                  <i class="mdi mdi-weather-windy"></i>
                  <span ng-bind="getWeatherField('windSpeed', item, entity)"></span><!--
               --><span ng-bind="getWeatherField('windSpeedUnit', item, entity)"></span>
               </span>
            </div>

            <div class="weather-line" ng-repeat="line in item.fields.list">
               <span ng-bind="getWeatherLine(line, item, entity)"></span>
            </div>

            <!-- DEPRECATED -->
            <div class="weather-line" ng-if="item.fields.apparentTemperature">
               Feels like
               <span ng-bind="getWeatherField('apparentTemperature', item, entity)"></span>
               <span ng-bind="getWeatherField('apparentTemperatureUnit', item, entity)"></span>
            </div>

            <div class="weather-line" ng-if="item.fields.pressure">
               Pressure
               <span ng-bind="getWeatherField('pressure', item, entity)"></span>
               <span ng-bind="getWeatherField('pressureUnit', item, entity)"></span>
            </div>

            <div class="weather-line" ng-if="item.fields.pollen">
               Pollen
               <span ng-bind="getWeatherField('pollen', item, entity)"></span>
            </div>

            <div class="weather-line" ng-if="item.fields.precipProbability">
               <span ng-bind="getWeatherField('precipProbability', item, entity)"></span><!--
            --><span ng-bind="getWeatherField('precipProbabilityUnit', item, entity)"></span>
               chance of rain
            </div>
         </div>
            <!-- ///DEPRECATED -->
         </div>
      </div>

      <div ng-if="item.type === TYPES.WEATHER_LIST"
           class="item-entity-container">
         <div class="weather-list">
            <table>
               <tr class="weather-list-header" ng-hide="item.hideHeader">
                  <th>
                     <span ng-bind="itemField('dateTitle', item, entity) || 'Date'"></span>
                  </th>
                  <th class="weather-list-header--icon">
                     <span ng-bind="itemField('iconTitle', item, entity)"></span>
                  </th>
                  <th class="weather-list-header--primary">
                     <span ng-bind="itemField('primaryTitle', item, entity) || 'Forecast'"></span>
                  </th>
                  <th class="weather-list-header--secondary">
                     <span ng-bind="itemField('secondaryTitle', item, entity)"></span>
                  </th>
               </tr>
               <tr ng-repeat="line in item.list track by $index">
                  <td class="weather-list-date">
                     <div ng-bind="weatherListField('date', line, item, entity)"></div>
                  </td>
                  <td class="weather-list-icon-container">
                     <div class="weather-list-icon"
                          ng-if="(_icon = weatherListIcon(line, item, entity))">
                        <div class="wu " ng-class="'wu-' + _icon"></div>
                     </div>
                     <div class="weather-list-icon-image"
                          ng-if="(_imgStyles = weatherListImageStyles(line, item, entity))">
                        <div ng-style="_imgStyles"></div>
                     </div>
                  </td>
                  <td class="weather-list--primary">
                     <div ng-bind="weatherListField('primary', line, item, entity)"></div>
                  </td>
                  <td class="weather-list--secondary">
                     <div ng-bind="weatherListField('secondary', line, item, entity)"></div>
                  </td>
               </tr>
            </table>
         </div>
      </div>

      <div ng-if="item.type === TYPES.CLIMATE"
           class="item-entity-container">
         <div>
            <div class="item-button -center-right"
                 ng-if="entity.attributes.temperature && entity.state !== 'off'"
                 ng-click="increaseClimateTemp($event, item, entity)">
               <i class="mdi mdi-plus"></i>
            </div>
            <div class="item-button -bottom-right"
                 ng-if="entity.attributes.temperature && entity.state !== 'off'"
                 ng-click="decreaseClimateTemp($event, item, entity)">
               <i class="mdi mdi-minus"></i>
            </div>
         </div>

         <div class="item-climate">
            <div class="item-climate--target">
               <span ng-bind="climateTarget(item, entity)"></span>
               <span ng-if="(_unit = entityUnit(item, entity))"
                     class="item-climate--target--unit" ng-bind="_unit"></span>
            </div>
            <div class="item-climate--mode" ng-if="entity.attributes.preset_mode"
                 ng-click="openSelect(item)">
               <span ng-bind="entity.attributes.preset_mode"></span>
            </div>
         </div>

         <div ng-if="selectOpened(item)" class="item-select"
              ng-style="itemSelectStyles(entity, entity.attributes.operation_list)">

            <div class="item-select--option"
                 ng-repeat="option in entity.attributes.preset_modes track by $index"
                 ng-class="{'-active': option === entity.state}"
                 ng-click="setClimateOption($event, item, entity, option)">
               <span ng-bind="option"></span>
            </div>
         </div>
      </div>


      <div ng-if="item.type === TYPES.MEDIA_PLAYER"
           class="item-entity-container">

         <div class="media-player-table"  ng-class="{'-has-state': _state, '-has-subtitle': _subtitle}">
            <table>
               <tr>
                  <td class="media-player-table--td-main-button">
                     <div class="media-player--main-button" ng-if="entity.state !== 'off'">
                        <span class="mdi mdi-pause" ng-if="supportsFeature(FEATURES.MEDIA_PLAYER.PAUSE, entity) && entity.state === 'playing'"
                              ng-click="sendPlayer('media_pause', item, entity)"></span>

                        <span class="mdi mdi-stop" ng-if="!supportsFeature(FEATURES.MEDIA_PLAYER.PAUSE, entity) && entity.state === 'playing'"
                              ng-click="sendPlayer('media_stop', item, entity)"></span>

                        <span class="mdi mdi-play" ng-if="entity.state === 'stopped'"
                              ng-click="sendPlayer('media_play', item, entity)"></span>

                        <span class="mdi mdi-play" ng-if="entity.state === 'paused'"
                              ng-click="sendPlayer('media_play', item, entity)"></span>

                        <span class="mdi mdi-play" ng-if="entity.state === 'idle'"
                              ng-click="sendPlayer('media_play', item, entity)"></span>

                     </div>
                  </td>
                  <td colspan="2" class="media-player-table--td-buttons">
                     <div class="media-player--buttons">
                        <div class="media-player--button -prev"
                             ng-if="supportsFeature(FEATURES.MEDIA_PLAYER.PREVIOUS_TRACK, entity) && entity.state !== 'off'"
                             ng-click="sendPlayer('media_previous_track', item, entity)">
                           <i class="mdi mdi-skip-previous"></i>
                        </div>

                        <div class="media-player--button -next"
                             ng-if="supportsFeature(FEATURES.MEDIA_PLAYER.NEXT_TRACK, entity) && entity.state !== 'off'"
                             ng-click="sendPlayer('media_next_track', item, entity)">
                           <i class="mdi mdi-skip-next"></i>
                        </div>


                        <div class="media-player--button -power"
                             ng-if="supportsFeature(FEATURES.MEDIA_PLAYER.TURN_ON, entity) && entity.state === 'off'"
                             ng-click="sendPlayer('turn_on', item, entity)">
                           <i class="mdi mdi-power"></i>
                        </div>

                        <div class="media-player--button -power"
                             ng-if="supportsFeature(FEATURES.MEDIA_PLAYER.TURN_OFF, entity) && entity.state !== 'off'"
                             ng-click="sendPlayer('turn_off', item, entity)">
                           <i class="mdi mdi-power"></i>
                        </div>
                     </div>
                  </td>
               </tr>

               <tr class="media-player-table--space">
                  <td colspan="3"></td>
               </tr>

               <tr class="media-player-table--source">
                  <td colspan="3" class="media-player-table--td-source">
                     <div class="media-player--source" ng-click="openSelect(item)"
                          ng-if="entity.attributes.source_list.length && !item.hideSource">
                        <span ng-bind="entity.attributes.source || 'Source'"></span>
                     </div>
                  </td>
               </tr>

               <tr ng-if="shouldShowVolumeSlider(entity) && (_c = getVolumeConf(item, entity))">
                  <td colspan="3" class="media-player-table--td-volume">
                     <div class="media-player--volume">
                        <input type="range" ng-model="_c.value"
                               ng-change="volumeChanged(item, entity, _c)"
                               ng-on-touchstart="$event.stopPropagation()"
                               ng-on-touchmove="$event.stopPropagation()"
                               ng-on-pointerdown="$event.stopPropagation()"
                               step="{{ _c.step }}" min="{{ _c.min }}" max="{{ _c.max }}">
                     </div>
                  </td>
               </tr>

               <tr ng-if="shouldShowVolumeButtons(entity)">
                  <td colspan="3" class="media-player-table--td-volume-buttons">
                     <div class="media-player--button -volume_down"
                          ng-click="sendPlayer('volume_down', item, entity)">
                        <i class="mdi mdi-volume-minus"></i>
                     </div>

                     <div class="media-player--button -volume_up"
                          ng-click="sendPlayer('volume_up', item, entity)">
                        <i class="mdi mdi-volume-plus"></i>
                     </div>
                  </td>
               </tr>

               <tr>
                  <td colspan="2"></td>
                  <td class="media-player-table--td-mute">
                     <div ng-if="entity.state !== 'off' && !item.hideMuteButton">
                        <div ng-if="supportsFeature(FEATURES.MEDIA_PLAYER.VOLUME_MUTE, entity)">
                           <div class="media-player--button -mute"
                                ng-if="entity.attributes.is_volume_muted"
                                ng-click="mutePlayer(false, item, entity)">
                              <i class="mdi mdi-volume-mute"></i>
                           </div>

                           <div class="media-player--button -mute"
                                ng-if="!entity.attributes.is_volume_muted"
                                ng-click="mutePlayer(true, item, entity)">
                              <i class="mdi mdi-volume-high"></i>
                           </div>
                        </div>
                     </div>
                  </td>
               </tr>
            </table>
         </div>

         <div ng-if="selectOpened(item)" class="item-select"
              ng-style="itemSelectStyles(entity, entity.attributes.source_list)">

            <div class="item-select--option"
                 ng-repeat="option in entity.attributes.source_list track by $index"
                 ng-class="{'-active': option === entity.attributes.source}"
                 ng-click="setSourcePlayer($event, item, entity, option)">
               <span ng-bind="option"></span>
            </div>
         </div>
      </div>

      <div ng-if="item.type === TYPES.GAUGE"
         class="item-entity-container">         
         <div class="item-gauge">
            <ng-gauge size="getGaugeField('size', item, entity)" 
                      type="getGaugeField('type', item, entity)" 
                      thick="getGaugeField('thick', item, entity)" 
                      min="getGaugeField('min', item, entity)" 
                      max="getGaugeField('max', item, entity)" 
                      value="entityValue(item, entity)" 
                      cap="getGaugeField('cap', item, entity)" 
                      label="getGaugeField('label', item, entity)" 
                      prepend="getGaugeField('prepend', item, entity)"
                      foreground-color="getGaugeField('foregroundColor', item, entity)" 
                      background-color="getGaugeField('backgroundColor', item, entity)" 
                      append="getGaugeField('append', item, entity)" 
                      thresholds="getGaugeField('thresholds', item, entity)" 
                      label-only="getGaugeField('labelOnly', item, entity)"
                      duration="getGaugeField('duration', item, entity)" 
                      fraction-size="getGaugeField('fractionSize', item, entity)"></ng-gauge>
         </div>
      </div>
       
      <div ng-if="item.type === TYPES.IMAGE" class="item-entity-container">
            <div class="item-image" 
                 ng-style="{'background-image': 'url(' + itemURL(item, entity) + ')'}"></div>
      </div>
   </div>
</script>



<link rel="stylesheet" async
      href="https://cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css">

</body>
</html>
