.page {
    background: #242433;
}

.pages-menu--item {
    color: #616D82 !important;
}

.pages-menu--item.-active {
    color: #48934C !important;
    background: #242433 !important;
}

.item {
    background: #242433 !important;
    color: #616D82 !important;
}

.item-entity, .weather-temperature, .weather-item {
    color: #48934C !important;
}

.item.-disarmed, .item.-off {
    /* background: #2B2B3C !important; */
}

.item-state {
    position: absolute;
    left: 0px;
    width: 90%;
    top: 58%;
    font-size:0.8em;
}
.item.-on .item-entity--icon {
    color: #48934C !important;
}


.item-entity--icon {
    color: #616D82 !important;
    position: absolute;
    /* margin-top:-20px; */
    left: calc(50% - 20px);
    top:-10px;
}

.item-title {
    color: #9C9CA4 !important;
    text-transform: uppercase;
    font-size: 0.65em;
    width:80%;
    margin: 0 auto;
    letter-spacing: .75px;
    bottom: 10px;
}

.item-subtitle {
    display: none;
}

.weather {
    text-align:center;
}
.weather-temperature, .weather-item {
    text-align: center;
}

.weather-line {
    margin: 4px 0 !important;
    font-weight:500;
}

.item.-slider .item-entity {
    top: calc(80%);
    font-size: 0.75em; 
}
.item.-slider .item-entity--icon {
    position: relative;
    display:none;
    margin-bottom:100px;

}

.item-slider {
    top: 20px !important;
}

input[type='range'] {
    overflow: hidden;
    width: 360px;
    height: 50px;
    margin-top: 185px;
    -webkit-appearance: none;
    padding:45px 0;
    border-radius: 30px;
    background-color: #2B2B3D !important;
    transform: translate(-168px) rotate(270deg);
    transform-origin:top;  
    border: 4px solid #2B2B3D;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 200px;
    width: 20px;
    -webkit-appearance: none;
    color: #48934C;
    margin-top: -1px;
    /* background: #2B2B3D !important; */
    background: repeating-linear-gradient(to right, 
    #2B2B3D, 
    #2B2B3D 20%, 
    #242433 20%, 
    #242433 21%, 
    #2B2B3D 21%, 
    #2B2B3D 20%) !important;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 0px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -200px 0 0 200px #48934C;
  }

  .media-player--volume {
      padding-top:70px;
      width: 85%;
      text-align:left;
  }

  .-media_player .item-title {
      bottom: 60px;
      text-align: left;
      padding-left: 15px;
  }

  .-media_player .item-subtitle {
    display:block;
    bottom: 48px;
    text-align:left;
    padding-left: 15px;
    font-weight: bold;
  }

  .media-player-table--td-mute div {
      margin-top: -67px;
  }

  .-theme-homekit .item-title {
    height: 22px;
    line-height: 22px;
    padding-bottom: 5px;
    text-align:center;
  }

  .-theme-homekit .item-clickable {
      display:none !important;

  }

  .weather-line {
      padding:2px 0;
  }

  .weather-icon-container {
      width: 45%;
      height: 110px;
      
  }

  .weather-icon div {
      height:100px !important;
      width: 100px !important;
  }

  .weather-temperature {
      width: 45%;
  }

  .weather-line {
      
  }

  .weather-fields {
    width: 55%;
    float:right;
    margin-top: -145px;
    text-align:left;
  }

  .group {
      /* margin-top: 0 !important; */
  }
  .group-title {
      display:none !important;
  }

  .item-gauge {
      padding-top: 20px;
  }